:root {
  --black: #373744;
  --purple: #6d07e6;
  --white: #ffffff;
  --light-purple: #7908ff;
  --lavander: #8b43e0;
  --liliac: #f8f3ff;
  --light-liliac: #e4d3fd;
  --dark-purple: #1b1358;
}